In [1]:
# standard data manipulation libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Clustering models
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.cluster import DBSCAN
from sklearn.neighbors import NearestNeighbors

## DBSCAN Exploration Model

In [2]:
gap_notreg = pd.read_csv('./data/gap_notreg.csv')
gap_notreg.head()

,mmsi,gap_hours,gap_distance_m,gap_implied_speed_knots,positions_per_day,vessel_class,flag,off_timestamp,off_msgid,off_lat,...,off_type,off_receiver_type,off_distance_from_shore_m,on_timestamp,on_msgid,on_lat,on_lon,on_type,on_receiver_type,on_distance_from_shore_m
0,412422839,39.433333,535.624620,0.007334,0.034917,fishing,CHN,2018-11-02T08:32:54Z,ab04ae1f-022d-1cf8-6704-79f5c18f03fe,29.940583,...,B,terrestrial,0.0,2018-11-03T23:59:40Z,d66f5755-1e80-50b7-9c24-97affcd0d30b,29.938277,122.273638,B,terrestrial,1000.0
1,247143160,80.800000,1260.751756,0.008425,2.947519,trawlers,ITA,2018-05-18T18:22:40Z,a08e856c-e011-5dab-8ae8-03a4bf0c7ba1,38.099993,...,A,terrestrial,0.0,2018-05-22T03:11:32Z,97e47f62-0784-5e70-bea4-b57c23dcab63,38.088952,13.540445,A,terrestrial,0.0
2,224231150,15.816667,9683.318918,0.330574,0.115448,set_gillnets,ESP,2018-03-22T11:28:05Z,b4fbb421-1944-5a5f-b3ae-aabb589bb8d3,43.406192,...,B,terrestrial,3000.0,2018-03-23T03:17:34Z,7137847e-305e-5a4f-8b82-ab83b181c4ab,43.354105,-8.375345,B,terrestrial,1000.0
3,413002111,14.433333,2965.614746,0.110945,0.416022,trawlers,CHN,2018-02-28T19:59:57Z,06e02215-e3b7-59ac-8504-f404fc25196c,26.573672,...,A,terrestrial,42000.0,2018-03-01T10:26:32Z,499bb4b5-a209-5f79-9718-ea361000bbdc,26.564128,120.902237,A,terrestrial,44000.0
4,247074840,16.450000,495.809447,0.016275,0.538665,trawlers,ITA,2018-04-25T07:43:16Z,248c64e1-6d7b-5553-bffe-8974fc455332,44.675090,...,A,terrestrial,0.0,2018-04-26T00:10:43Z,5659fa33-6771-584a-95a5-4d35df3f544f,44.675367,12.235438,A,terrestrial,0.0

### Create Spatial Dataframes

In [3]:
# make a dataset of the AIS off locations

latlon_off = gap_notreg[['off_lat', 'off_lon']]
latlon_on = gap_notreg[['on_lat', 'on_lon']]

latlon_off.head()

     off_lat     off_lon
0  29.940583  122.278518
1  38.099993   13.543718
2  43.406192   -8.471367
3  26.573672  120.874392
4  44.675090   12.241697

In [4]:
latlon_on.head()

      on_lat      on_lon
0  29.938277  122.273638
1  38.088952   13.540445
2  43.354105   -8.375345
3  26.564128  120.902237
4  44.675367   12.235438

## Determine Optimal Parameters

In order to nearest neighbors between two sets of data, sklearn's unsupervised nearest neighbors algorithm is a good starting point.

## Fit Initial Model

In [5]:
# scale the data
ss = StandardScaler()
X_scaled = ss.fit_transform(latlon_off)

In [ ]:
# instantiate and fit
dbscan = DBSCAN()
dbscan.fit(X_scaled)

In [ ]:
# check how many clusters were created
set(dbscan.labels_)

In [ ]:
# Create cluster column
latlon_off['cluster'] = dbscan.labels_

In [ ]:
# plot pairplot
sns.pairplot(latlon_off, hue='cluster')